#forgot-password {
    height: 100%;
    background-size: cover;
}
#forgot-password #forgot-password-form-wrapper {
    flex: 1 0 auto;
    padding: 32px;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form {
    width: 384px;
    max-width: 384px;
    padding: 32px;
    text-align: center;
    background: #FFFFFF;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .logo {
    width: 128px;
    height: 128px;
    line-height: 128px;
    font-size: 86px;
    font-weight: 500;
    margin: 32px auto;
    color: #FFFFFF;
    border-radius: 2px;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .title {
    font-size: 17px;
    margin: 16px 0 32px 0;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form form {
    width: 100%;
    text-align: left;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form form .submit-button {
    width: 220px;
    margin: 16px auto;
    display: block;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .login {
    margin: 32px auto 24px auto;
    width: 250px;
    font-weight: 500;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .login .text {
    margin-right: 8px;
}
