<div id="driversPage" class="page-layout simple fullwidth doc-page app-background" layout="column">
    <div class="content" layout="column">
        <div layout="row">
            <div class="form-wrapper md-whiteframe-6dp" flex="90" style="
            margin-left: 5%;
            margin-top: 3%;
            margin-bottom: 3%;
            " dw-loading="drivers">
                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>Drivers</span>
                    </h2>
                </md-toolbar>
                <md-content layout-padding>
                <table id="drivers" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Profile Picture</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>Device Type</th>
                            <th>Country Code</th>
                            <th>Language</th>
                            <th>License</th>
                            <th>Verification Status</th>
                            <!--<th>Company Details</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in driversList">
                            <td>
                                <div ng-click="driverPic($event,data.profilePic)" ng-if="data.profilePic.thumbnail">
                                    <img ng-src="{{data.profilePic.thumbnail}}" class="md-avatar" alt="{{data.firstname}}"/>
                                </div>
                                <div ng-if="!data.profilePic.thumbnail">
                                    N.A.
                                </div>
                            </td>
                            <td>{{data.firstname}}</td>
                            <td>{{data.lastname}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.phoneNo}}</td>
                            <td>{{data.deviceType}}</td>
                            <td>{{data.countryCode}}</td>
                            <td>{{data.language}}</td>
                            <td>
                                <div ng-click="driverLicense($event,data.drivingLicence)" ng-if="data.drivingLicence.original || data.drivingLicence.thumbnail">
                                    <img ng-src="{{data.drivingLicence.thumbnail}}" class="md-avatar" alt="{{data.firstname}}"/>
                                </div>
                                <div ng-if="!data.drivingLicence.original || !data.drivingLicence.thumbnail">N.A</div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="switch">
                                       <input type="checkbox" ng-model="data.confirmedByPartner" ng-change="ConfirmDriver(data.id,data.confirmedByPartner)"/>
                                       <span></span>
                                    </label>
                                </div>
                              <!-- <md-input-container>
                                <md-switch ng-model="data.confirmedByPartner" ng-change="ConfirmDriver(data.id,data.confirmedByPartner)">{{data.confirmedByPartner ? "Verified":"Unverified"}}</md-switch>
                              </md-input-container> -->
                            </td>
                            <!--<td>-->
                                <!--<md-button class="md-primary md-raised" ng-click="companyDetails($event,data)">-->
                                <!--View Details-->
                                <!--</md-button>-->
                            <!--</td>-->
                        </tr>
                        </tbody>
                    </table>
                </md-content>

            </div>
        </div>
    </div>
</div>
