<div id="settings" class="page-layout simple fullwidth doc-page app-background" layout="column">
  <!-- <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
          <span>Settings</span>
      </h2>
  </md-toolbar> -->
  <div layout="row" layout-xs="column">

    <div flex>
      <md-card>
        <md-toolbar class="md-theme-light"></md-toolbar>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">About Us</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p style="height: 40px;">
              Click On The Button To Change or Update About Us Content In Driver App.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" aria-label="Submit" ng-click="AboutUs($event)">Change</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex>
      <md-card>
        <md-toolbar class="md-theme-light"></md-toolbar>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Contact Us</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p style="height: 40px;">
              Click On The Button To Change or Update Contact Us Content In Driver App.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" aria-label="Submit" ng-click="ContactUs($event)">Change</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex>
      <md-card>
        <md-toolbar class="md-theme-light"></md-toolbar>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">FAQ</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p style="height: 40px;">
              Click On The Button To Change or Update FAQ Content In Driver App.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" aria-label="Submit" ng-click="faq($event)">Change</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
