<md-dialog  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Book</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times icon-large" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding" layout="column">
            <md-button class="md-primary md-raised" ng-click="redirect('send')">
                Send
            </md-button>
            <md-button class="md-primary md-raised" ng-click="redirect('get')">
                Get
            </md-button>
        </md-dialog-content>
    </form>
</md-dialog>